<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center " >
    <div class="col" >
      <a href="/appointment/add" >
        <button type="button" class="btn btn-primary" >Add Appointment</button >
      </a >
    </div >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          Appointment Management
        </strong >
      </h4 >
    </div >
    <div class="col" >
    </div >
  </div >
</div >
<div class="container-fluid mt-2" >
  <div id="accordianId" role="tablist" aria-multiselectable="true" >
    <div class="card" >
      <div class="card-header" role="tab" id="section1HeaderId" >
        <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
           aria-controls="section1ContentId" >
          <h5 class="mb-0 text-center container-fluid" >
            Doctor Details
          </h5 >
        </a >
      </div >
      <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
        <div class="card-body" >
          <div data-th-replace="~{doctor/doctor-detail :: doctorDetailsFragment}" ></div >
        </div >
      </div >
    </div >
  </div >
  <div class="container-fluid" >
    <table class="table table-striped table-inverse col-md-12" id="myTable" >
      <thead class="thead-inverse" >
      <tr >
        <th >Index</th >
        <th >Code</th >
        <th >Number</th >
        <th >Date</th >
        <th >Appointment Status</th >
        <th >Patient Name</th >
      </tr >
      </thead >
      <tbody >
      <tr data-th-each="appointment, index : ${appointments}" >
        <td data-th-text="${index.count}" ></td >
        <td data-th-text="${appointment.code}" ></td >
        <td data-th-text="${appointment.number}" ></td >
        <td data-th-text="${appointment.date}" ></td >
        <td data-th-text="${appointment.appointmentStatus.appointmentStatus}" ></td >
        <td data-th-text="${appointment.patient.title.title+' '+appointment.patient.name}" ></td >
      </tr >
      </tbody >
    </table >
  </div >
  <div class="container-fluid">
    <form action="/appointment/messageSend" method="post">
      <input type="hidden" name="doctorSchedule" data-th-value="${appointment.id}" >
      <input type="hidden" name="appointmentDate" data-th-value="${appointment.appointmentDate}" >
      <input type="hidden" name="doctor" data-th-value="${doctorDetail.id}" >
      <div class="form-group" >
        <label for="message" >Message</label >
        <textarea class="form-control" name="message" id="message" rows="5" ></textarea >
      </div >
      <button type="submit" class="btn btn-primary" >Send</button >
    </form >
  </div>
</div >

<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
