<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center " >
    <div class="col" >
      <a href="/appointment/add" >
        <button type="button" class="btn btn-primary">Add Appointment</button>
      </a >
    </div >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          Appointment Management
        </strong >
      </h4 >
    </div >
    <div class="col" >
    </div >
  </div >
</div >

<div class="container-fluid" >
  <div class="container" data-th-each="appointmentBook, index : ${appointmentBooks}" >
    <div id="accordianId" role="tablist" aria-multiselectable="true" >
      <div class="card" >
        <div class="card-header" role="tab" data-th-id="${'section1HeaderId'+index.index}" >
          <a data-toggle="collapse" data-parent="#accordianId" data-th-href="${'#section1ContentId'+index.index}"
             aria-expanded="true" aria-controls="section1ContentId" >
            <h5 class="mb-0 text-center" >
              <span data-th-text="${appointmentBook.dayOfWeek}" ></span >
            </h5 >
          </a >
        </div >
        <div data-th-id="${'section1ContentId'+index.index}" class="collapse in" role="tabpanel"
             aria-labelledby="section1HeaderId" >
          <div class="card-body" >
            <table class="table table-hover table-striped text-center">
              <tr >
                <td >Doctor Name</td >
                <td >Consultation</td >
                <td >Arrival Time</td >
                <td >Booking Account</td >
                <td >Modify</td >
              </tr >
                <tr data-th-each="doctorSchedule, indexOne : ${appointmentBook.doctorSchedules}">
                    <td data-th-text="${doctorSchedule.doctor.title.title+''+doctorSchedule.doctor.name}"></td>
                    <td data-th-text="${doctorSchedule.doctor.consultation.name}"></td>
                    <td data-th-text="${doctorSchedule.arrivalTime}"></td>
                    <td data-th-text="${#lists.size(doctorSchedule.appointments)}"></td>
                    <td data-th-text="${#lists.size(doctorSchedule.appointments)}"></td>
                </tr>
            </table>
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
