<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center " >
    <div class="col" >
      <a href="/appointment/add" >
        <button type="button" class="btn btn-primary" >Add Appointment</button >
      </a >
    </div >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          Appointment Management
        </strong >
      </h4 >
    </div >
    <div class="col" >
    </div >
  </div >
</div >

<div class="container-fluid mt-3" >
  <div class="container-fluid" data-th-each="appointmentBook, index : ${appointmentBooks}" >
    <div id="accordianId" role="tablist" aria-multiselectable="true" >
      <div class="card" >
        <div class="card-header" role="tab" data-th-id="${'section1HeaderId'+index.index}" >
          <a data-toggle="collapse" data-parent="#accordianId" data-th-href="${'#section1ContentId'+index.index}"
             aria-expanded="true" aria-controls="section1ContentId" >
            <h5 class="mb-0 text-center" >
              <span data-th-text="${appointmentBook.appointmentDate}" ></span > -
              <span data-th-text="${appointmentBook.dayOfWeek}" ></span >
            </h5 >
          </a >
        </div >
        <div data-th-id="${'section1ContentId'+index.index}" class="collapse in" role="tabpanel"
             aria-labelledby="section1HeaderId" >
          <div class="card-body" >
            <table class="table table-hover table-striped text-center" >
              <tr >
                <td >Doctor Name</td >
                <td >Consultation</td >
                <td >Arrival Time</td >
                <td >Booking Account</td >
              </tr >
              <tr data-th-each="doctorSchedule, indexOne : ${appointmentBook.doctorSchedules}" >
                <td data-th-text="${doctorSchedule.doctor.title.title+''+doctorSchedule.doctor.name}" ></td >
                <td data-th-text="${doctorSchedule.doctor.consultation.name}" ></td >
                <td data-th-text="${doctorSchedule.arrivalTime}" ></td >
                <td >
                  <table class="table table-hover table-striped text-center" >
                    <tr >
                      <td >Date</td >
                      <td >Count</td >
                      <td >Modify</td >
                    </tr >
                    <tr >
                      <td data-th-text="${doctorSchedule.appointmentDate}" ></td >
                      <td data-th-text="${#lists.size(doctorSchedule.appointments)}" ></td >
                      <td >
                        <div class="form-row" >
                          <!--View-->
                          <form action="/appointment/view"  method="post" data-th-if="${not #lists.isEmpty(doctorSchedule.appointments)}">
                            <input type="hidden" name="doctorSchedule" data-th-value="${doctorSchedule.id}" >
                            <input type="hidden" name="appointmentDate" data-th-value="${doctorSchedule.appointmentDate}" >
                            <input type="hidden" name="doctor" data-th-value="${doctorSchedule.doctor.id}" >
                            <button type="submit" class="btn btn-primary" >View</button >
                          </form >
                          <!--add New Appointment-->
                          <form action="/appointment/find" class="ml-2" method="post">
                            <input type="hidden" name="doctorSchedule" data-th-value="${doctorSchedule.id}" >
                            <input type="hidden" name="appointmentDate" data-th-value="${doctorSchedule.appointmentDate}" >
                            <input type="hidden" name="doctor" data-th-value="${doctorSchedule.doctor.id}" >
                            <button type="submit" class="btn btn-info" >New Appointment</button >
                          </form >
                        </div >
                      </td >
                    </tr >
                  </table >
                </td >
              </tr >
            </table >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
