<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center " >
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
      <h4 class="  text-dark text-center" >
        <strong >
          Make Appointment
        </strong >
      </h4 >
    </div >
    <div class="col" >
      <a class="btn btn-primary" href="/appointment" >
        <i class="fa fa-list" ></i >&nbsp; View List
      </a >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid  " >
  <div class="col-sm-12 flex-column " >
    <form data-th-action="${'/appointment/find'}"
          data-th-object="${appointmentDoctorSearch}"
          method="POST" >
      <!--doctor-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'doctor'}" >Doctor :</label >
        </div >
        <div class="col-md-8" >
          <select class="form-control" data-th-field="*{doctor}" required >
            <option value="" > Select Doctor</option >
            <option data-th-each="doctor : ${doctors}"
                    data-th-value="${doctor.id}"
                    data-th-text="${doctor.title.title+' '+ doctor.name}" ></option >
          </select >
        </div >
      </div >
      <!--doctor Schedule-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'doctorSchedule'}" >Doctor Availability :</label >
        </div >
        <div class="col-md-8" >
          <select class="form-control" data-th-field="*{doctorSchedule}" required >
            <option value="" > Select Available</option >
          </select >
        </div >
      </div >
      <!--Name-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'appointmentDate'}" >Name :</label >
        </div >
        <div class="col-md-8" >
          <input class="form-control" data-th-field="*{appointmentDate}" required type="date" />
        </div >
      </div >
      <!--Button-->
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <button class="btn btn-success" type="submit" tabindex="21" >
          <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span id="submit"
                                                                                  data-th-text="${'Send'}" ></span >
        </button >
        <button class="btn btn-danger" type="reset" >
          <i class="fa fa-redo" ></i > <span id="reset" >Reset</span >
        </button >
      </div >
    </form >
  </div >
</div >
<div class="alert alert-primary alert-dismissible fade show" role="alert"
     data-th-if="${not #strings.isEmpty(message)}" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
    <span aria-hidden="true" >&times;</span >
    <span class="sr-only" >Close</span >
  </button >
  <strong ><span data-th-text="${message}" ></span > </strong >
</div >
<input type="hidden" data-th-value="${doctorScheduleUrl}" id="doctorScheduleUrl" >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $(document).ready(function () {
        $('[type="date"]').prop('min', function () {
            return new Date().toJSON().split('T')[0];
        });
    });

    $("#doctor").change(function () {
        let url = $("#doctorScheduleUrl").val() + $(this).val();
        removeOption('doctorSchedule');
        $.getJSON(url, function (val) {
            $.each(val, function () {
                let text = `Day of week : ${capitalizeFirstLetter(this.dayOfWeek)} Arrival Time : ${this.arrivalTime} Appointment Count : ${this.count}`;

                $("#doctorSchedule").append(`<option value="${this.id}">${text}</option>`);

                function capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
                }
            });
        });
    });
    let removeOption = function (idValue) {
        $(`#${idValue}`).find('option').remove();
    }

</script >
</body >
</html >
