<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid   " >
  <div class="row text-center " >
    <div class="col" >
      <a href="/additionServicePatient/add" >
        <button type="button" class="btn btn-primary" >Add New</button >
      </a >
    </div >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          Addition Service Patient Management
        </strong >
      </h4 >
    </div >
    <div class="col" >
    </div >
  </div >
</div >

<div class="form-row text-center" >
  <div class="col-4" ></div >
  <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
     aria-controls="multiCollapseExample1" >Search</a >

  <div class="row" >
    <div class="col" >
      <div class="collapse multi-collapse" id="multiCollapseExample1" >
        <div class="card card-body" >
          <form action="/additionServicePatient/search" method="post" >
            <div class="col-3" >
              <label class="control-label" > Since :
                <input type="date" class="form-control" name="startDate" id="startDate" required >
              </label >
            </div >
            <div class="col-3" >
              <label class="control-label" > To :
                <input type="date" class="form-control" name="endDate" id="endDate" required >
              </label >
            </div >
            <div class="col-3" >
              <button type="submit" class="btn btn-success" > Send</button >
            </div >
          </form >
        </div >
      </div >
    </div >
  </div >
</div >


<div class="container-fluid mt-3" >
  <div class="form-row " >
    <div class="text-center col" >
      <p class="bg-dark text-white p-1" data-th-text="${message}" ></p >
    </div >
  </div >
  <div class="form-row" >
    <div class="container-fluid" >
      <table class="table table-striped  " id="myTable" >
        <thead class="thead-inverse" >
        <tr >
          <th >Index</th >
          <th >Patient Name</th >
          <th >Service Name</th >
          <th >Date</th >
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="additionServicePatient, index:${additionServicePatients}" >
          <td data-th-text="${index.count}" ></td >
          <td data-th-text="${additionServicePatient.patient.name+' '+additionServicePatient.patient.mobileOne}" ></td >
          <td data-th-text="${additionServicePatient.additionalService.name}" ></td >
          <td data-th-text="${{additionServicePatient.createdAt}}" ></td >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >
