<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >item-detail</title >
</head >
<body class="sb-nav-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >


<!--heading Area-->
<div class="container-fluid " >
  <div class="row text-center   " >
    <!--View List Button-->
    <div class="col" >
      <a href="/payment" class="btn btn-primary" tabindex="2" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp; View List
      </a >
    </div >
    <!--Item Name-->
    <div class="col" >
      <p class="h2 font-weight-bold"
         data-th-text="${paymentDetail.code }" ></p >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/home" tabindex="1" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
  </div >
</div >

<div class="container-fluid" id="printContent" >
  <!--Hospital Details-->
  <div class="form-row text-center" >
    <div class="col" >
      <p class="font-bold h3" >KDS Medical</p >
      <p >No. 09, Roly Fernando Mawatha</p >
      <p > Katubedda</p >
      <p > Moratuwa</p >
      <p >Tp: 011-2658361</p ></div >
  </div >
  <!--doctor Schedule-->
  <div class="form-row text-right" >
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'doctorSchedule'}" >Doctor Schedule :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail"
             data-th-text="${paymentDetail.appointment.doctorSchedule.dayOfWeek} +${' '}+${paymentDetail.appointment.doctorSchedule.arrivalTime}" ></p >
        </div >
      </div >
    </div >
    <!--Appoiment date-->
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'date'}" >Appointment Date :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-text="${paymentDetail.appointment.date}" ></p >
        </div >
      </div >
    </div >
  </div >
  <!--Patient-->
  <div class="form-row text-right" >
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'patient'}" >Patient :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail"
             data-th-text="${paymentDetail.appointment.patient.name+'  '+ paymentDetail.appointment.patient.mobileOne}" ></p >
        </div >
      </div >
    </div >
    <!--Appoiment Status-->
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'appointmentStatus'}" >Appointment Status :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail"
             data-th-text="${paymentDetail.appointment.appointmentStatus.appointmentStatus}" ></p >
        </div >
      </div >
    </div >
  </div >

  <!--consultation fee-->
  <div class="form-row text-right" >
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'consultationFee'}" >Consultation Fee :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-text="${paymentDetail.consultationFee}" ></p >
        </div >
      </div >
    </div >
    <!--hospital fee-->
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" data-th-for="${'hospitalFee'}" >Hospital Fee :</label >
        </div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-text="${paymentDetail.hospitalFee}" ></p >
        </div >
      </div >
    </div >
  </div >

  <!--Payment Section-->
  <div class="container-fluid" >
    <!--Payment method and total amount-->
    <div class="form-row text-right" >
      <!--payment method-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label data-th-for="${paymentMethod}" >Payment Method:</label >
          </div >
          <div class="col-md-8 text-left" >
            <p class="display_detail" data-th-text="${paymentDetail.paymentMethod.paymentMethod}" ></p >
          </div >
        </div >
      </div >
      <!--Discount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="discountRatio" >Discount Ratio :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail"
               data-th-text="${paymentDetail.discountRatio.name} + ${' '}+${paymentDetail.discountRatio.amount }" ></p >

          </div >
        </div >
      </div >
    </div >
    <div class="form-row text-right" >
      <!--Total Amount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="totalAmount" >Total Amount :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.totalPrice}" ></p >
          </div >
        </div >
      </div >
      <!--Discount Amount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="discountAmount" >Discount Amount :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.discountAmount}" ></p >
          </div >
        </div >
      </div >
    </div >
    <!--Amount tendered and balance  -->
    <div class="row" data-th-if="${#strings.equals(paymentDetail.paymentMethod, 'CASH')}" >
      <!--Amount Tendered-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="amountTendered" >Amount Tendered :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.amountTendered}" ></p >
          </div >
        </div >
      </div >
      <!--Balance-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="balance" >Balance :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.balance}" ></p >
          </div >
        </div >
      </div >
    </div >
    <!-- Card Payment -> Bank and card Number -->
    <!--Bank -->
    <div class="row" data-th-if="${#strings.equals(paymentDetail.paymentMethod, 'CARD')}" >
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="bankName" >Bank Name :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.bankName}" ></p >
          </div >
        </div >
      </div >
      <!--card number-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="cardNumber" >Card Number :</label >
          </div >
          <div class="col-md-8" >
            <p class="display_detail" data-th-text="${paymentDetail.cardNumber}" ></p >
          </div >
        </div >
      </div >
    </div >
  </div >
  <!--remarks and invoice print or not-->
  <div class="form-row" >
    <!--Remarks-->
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label for="remarks" >Remarks :</label ></div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-utext="${paymentDetail.remarks}" ></p >
        </div >
      </div >
    </div >
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label for="remarks" >Payment Code :</label ></div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-text="${paymentDetail.code}" ></p >
        </div >
      </div >
    </div >
  </div >
  <div class="form-row" >
    <!--Remarks-->
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label for="remarks" >Create By :</label ></div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-utext="${paymentDetail.createdBy}" ></p >
        </div >
      </div >
    </div >
    <div class="col-md-6" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label for="remarks" >Created At :</label ></div >
        <div class="col-md-8" >
          <p class="display_detail" data-th-text="${{paymentDetail.createdAt}}" ></p >
        </div >
      </div >
    </div >
  </div >
  <div class="form-row " >
    <div class="col text-center" >
      Printed By : <span data-th-text="${#authentication.name}" ></span >
    </div >
    <div class="col text-center" >
      <p class="font-bold" >Before leave the premises please chek whether details are correct or not</p >
      <p >Thank you come again</p >
      <p id="currentDateTime" ></p >
    </div >
  </div >
</div >


<!--Back Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column " >
  <a href="/payment" >
    <button class="btn btn-dark" type="button" tabindex="3" >
      <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp; &nbsp;Back
    </button >
  </a >
  <button class="btn btn-success" type="button" id="btnPrintResult" >
    <i class="fa fa-save" style="font-size: 20px" ></i > Print
  </button >
</div >

<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $("#currentDateTime").html(new Date);
    $("#btnPrintResult").click(function () {
        $("#printContent").addClass("mt-3 pt-3")
        $("#currentDateTime").html(new Date);
        printContent("printContent")
    })
</script >
</body >
</html >
